.active{
    width: 90%;
    height: 50px;
    color: red;
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    transition: all 350ms;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    background-color: rgba(92, 157, 218, 0.6);
    cursor: pointer;
}